<ul class="nav nav-pills">
  <% @interval_filters.each do |options| %>
  <li<%= ' class="active"' if options[:from] == @dashboard.graph_from %>><%= link_to_interval(options) %></li>
  <% end %>
</ul>
