<ul class="nav nav-pills">
  <% @interval_filters.each do |options| %>
  <li<%= ' class="active"' if options[:from] == @dashboard.graph_from %>><%= link_to_interval(options) %></li>
  <% end %>
  <li><a id="toggleDateTimePicker" href="#">Select Date</a></li>
</ul>
<ul class="nav" id="dateTimePicker">
  <li><input type="text"  name="dt_from" id="dt_from" value="<%= @interval_filters.select { |i| @dashboard.graph_from == i[:from] }.count > 0 ? 'from' : fmt_for_select_date(@dashboard.graph_from, 'from') %>"/></li>
  <li><input type="text" name="dt_to" id="dt_to" value="<%= @interval_filters.select { |i| @dashboard.graph_from == i[:from]}.count > 0 ? 'until' : fmt_for_select_date(@dashboard.graph_until, 'until') %>"/></li>
  <li><button type="button" class="btn" onClick="selectDt()">Show</button></li>
</ul>
