<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<%= erb :_interval_filter, :layout => false unless @interval_filters.empty? %>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
    <% @dashboard.graphs.each do |graph| %>
      <%= erb(:graph, :locals => { :graph => graph }) %>
    <% end %>
    </ul>
  </div>
</div>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
