<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<div class="row">
  <% span="span#{12/@graph_columns}" %>
  <% @graph_columns.times do |column| %>
      <div class="row <%=span%>">
      <% @graphs.each_with_index do |graph,i| %>
        <% if graph and i%@graph_columns==column%>
          <%= erb(:graph, :locals => { :graph => graph, :omit_link => true }) %>
        <% end %>
      <% end %>
      </div>
  <% end %>
</div>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
