<% unless @error %>
<div class="row-fluid">
  <div class="span2">
  </div>
  <div class="span6">
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
  </div>
</div>
  
<% span=12/@graph_columns %>
<table align=center>
<tr>
<% @graphs.each_with_index do |graph,i| %>
  <% if graph %>
    <% if i>0 and i%@graph_columns==0 %>
       </tr>
       <tr>
    <%end%>
        <td>
          <%= erb(:graph, :locals => { :graph => graph, :omit_link => true }) %>
        </td>
  <% end %>
<% end %>
</tr>
</table>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
