<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<% span=12/@graph_columns %>
<ul class="thumbnails">
<% @graphs.each_with_index do |graph,i| %>
  <% if graph %>
    <% if i>0 and i%@graph_columns==0 %>
       </ul>
       <ul class="thumbnails">
    <%end%>
        <li class="span<%=span%>" >
          <%= erb(:graph, :locals => { :graph => graph, :omit_link => true }) %>
        </li>
  <% end %>
<% end %>
</ul>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
