<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<% span=12/@graph_columns %>
<div class="row">
<% @graphs.each_with_index do |graph,i| %>
  <% if graph %>
    <% if i>0 and i%@graph_columns==0 %>
       </div>
       <div class="row">
    <%end%>
        <div class="span<%=span%>" >
          <%= erb(:graph, :locals => { :graph => graph, :omit_link => true }) %>
        </div>
  <% end %>
<% end %>
</div>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
