<% unless @error %>
<h1><%= @dashboard.name %>&nbsp;<small><%= @dashboard.description %></small></h1>
<div class="row">
    <table>
        <% row = 1 %>
        <% @graphs.in_groups_of(@graph_columns) do |graphrows| %>
          <tr>
          <% graphrows.each do |graph| %>
            <td>
            <% if graph %>
              <%= erb(:graph, :locals => { :graph => graph, :omit_link => true }) %>
            <% end %>
            </td>
          <% end %>
	  </tr>
          <% row += 1 %>
        <% end %>
    </table>
</div>
<script>
    $(function () {
      $(".graph img")
        .popover({
          placement: "bottom", delay: 1000
        })
    })
</script>
<% end %>
