<% omit_link ||= false %>
<% unless omit_link %>
  <%qp=""; params['p'].each {|k,v| qp+="?p[#{k}]=#{v}"} unless params['p'].nil?%>
  <a href='<%= [@prefix, params[:category], @params[:dash], 'details', graph[:name], qp].join "/" %>'>
<% end %>
<img style="margin: 0 auto;" src='<%= [@top_level[@params[:category]].graphite_render, graph[:graphite][:url]].join "?" %>' title="<%= graph[:graphite][:title] %>" data-content="<%= graph[:graphite][:description] %>">
<% unless omit_link %>
  </a>
<% end %>
