<% unless @error %>
<table>
    <thead>
        <th>Name</th>
        <th>Description</th>
    </thead>
    <tbody>
        <% @dash_site.dashboards.sort_by{|b| b[:name]}.each do |board| %>
        <tr>
            <td><a href="<%= [@prefix, "dashboard", board[:link]].join('/') %>/"><%= board[:name] %></a></td><td><%= board[:description] %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<% end %>
