<% unless @error %>
<%   @top_level.each do |key, value| %>
<h2> <%= key.capitalize %> </h2>
<table>
    <thead>
        <th width="30%">Name</th>
        <th width="70%">Description</th>
    </thead>
    <tbody>
        <% @top_level[key].dashboards.sort_by{|b| b[:name]}.each do |board| %>
        <tr>
            <td><a href="<%= [@prefix, key, board[:link]].join('/') %>/"><%= board[:name] %></a></td><td><%= board[:description] %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<%   end %>
<% end %>
